@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Web Application</h1>
    <p class="lead">I used ASP.net MVC in this App</p>
    <p><a href="https://dotnet.microsoft.com/apps/aspnet/mvc" class="btn btn-primary btn-lg">Learn more about .NET MVC</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Departments</h2>
        <p>Show, Add, Update and Delete Departments.</p>
        <p><a class="btn btn-default" href="http://localhost:50790/Department">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>Show, Add, Update and Delete Employees.</p>
        <p><a class="btn btn-default" href="http://localhost:50790/Employee">Learn more &raquo;</a></p>
    </div>
</div>